# FusionOS GRUB2 Boot Configuration
# Three boot entries: normal, verbose, recovery

set default=0
set timeout=5
set timeout_style=menu

# Visuals
if loadfont /boot/grub/unicode.pf2; then
    set gfxmode=auto
    insmod all_video
    terminal_output gfxterm
fi

# Colors
set menu_color_normal=cyan/black
set menu_color_highlight=white/blue

menuentry "FusionOS (normal)" {
    set root=(cd0)
    linux  /boot/vmlinuz root=/dev/sr0 rootfstype=iso9660 ro \
           console=ttyS0,115200 console=tty0 \
           init=/sbin/init quiet splash
    initrd /boot/initrd
}

menuentry "FusionOS (verbose)" {
    set root=(cd0)
    linux  /boot/vmlinuz root=/dev/sr0 rootfstype=iso9660 ro \
           console=ttyS0,115200 console=tty0 \
           init=/sbin/init loglevel=7
    initrd /boot/initrd
}

menuentry "FusionOS (recovery)" {
    set root=(cd0)
    linux  /boot/vmlinuz root=/dev/sr0 rootfstype=iso9660 ro \
           console=ttyS0,115200 console=tty0 \
           init=/bin/sh single
    initrd /boot/initrd
}
